* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
  --yellow-color: #f5921d;
  --gray-color: #414042;
  --black-color: #151516;
}

@font-face {
  font-family: utm-eremitage;
  src: url("../assets/utm-eremitage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html {
  font-family: "utm-eremitage";
  font-size: 62.5%;
}

.main-header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/header/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star1 {
  z-index: 5;
  position: absolute;
  left: 2%;
  top: 15%;
  width: 90px;
  height: 90px;
  transform: translateY(-50%);
}
.star2 {
  z-index: 5;
  position: absolute;
  right: 4%;
  top: 25%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
}
.star3 {
  z-index: 5;
  position: absolute;
  right: 26%;
  bottom: 15%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
}
.dollar1 {
  z-index: 5;
  position: absolute;
  left: 4%;
  top: 60%;
  width: 40px;
  height: 80px;
  transform: translateY(-50%);
}
.dollar2 {
  z-index: 5;
  position: absolute;
  right: 10%;
  bottom: 1%;
  width: 30px;
  height: 60px;
  transform: translateY(-50%);
}
.circle1 {
  z-index: 5;
  position: absolute;
  left: 15%;
  bottom: 15%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
}
.circle2 {
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 20%;
}

.srcoll-header-left {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  width: 27%;
  transform: translateY(-50%);
}
.srcoll-header-right {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
  width: 27%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 430px) {
  .srcoll-header-left {
    display: none;
  }
  .srcoll-header-right {
    display: none;
  }
  .star1 {
    display: none;
  }
  .star2 {
    display: none;
  }
  .star3 {
    display: none;
  }
  .dollar1 {
    display: none;
  }
  .dollar2 {
    display: none;
  }
  .circle1 {
    display: none;
  }
  .circle2 {
    display: none;
  }
}

.scroll-explore-before {
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 35%;
  transform: translateX(-50%);
}

.scroll-explore-before img {
  transition: opacity 0.3s ease;
}

.scroll-explore-before:hover img {
  opacity: 0;
}

.main-header-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
  position: fixed;
  top: 0;
}

.main-header-navbar__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 80%;
  height: 90px;
  background-color: var(--black-color);
}

.main-header-navbar__nav .line {
  width: 1px;
  height: 45px;
  background-color: #d9d9d9;
  opacity: 0.1;
}

.main-header-navbar__logo {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  margin-top: 35px;
}

.main-header-navbar__logo:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 30px rgba(224, 134, 25, 0.6);
}

.main-header-navbar__nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.main-header-navbar__nav__item:hover {
  background-color: rgba(245, 146, 29, 0.3);
  color: var(--yellow-color);
}

.main-header-navbar__nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  opacity: 0;
  background: var(--yellow-color);
  transition: all 0.5s;
}

.main-header-navbar__nav__item:hover::after {
  opacity: 1;
}

.main-header-navbar__nav__item::before {
  content: url("../assets/header/arrow.svg");
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 20px;
  height: 10px;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}

.main-header-navbar__nav__item:hover::before {
  bottom: 12px;
  opacity: 1;
}

.main-header-navbar__logo_mobile {
  display: none;
}
@media only screen and (max-width: 430px) {
  .main-header-navbar {
    display: none;
  }
  .main-header-navbar__logo_mobile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 16px;
  }
}

.main-header-content-container {
  width: 89vw;
  height: 90vh;
  border-radius: 16px;
  overflow: hidden;
}

@media only screen and (max-width: 430px) {
  .main-header-content-container {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    border-radius: 0px;
    overflow: hidden;
  }
}

.main-header-content-container > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content {
  width: 100vw;
}

/* core value */
.core-value {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/core-value/core-value.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.core_value-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 430px) and (max-width: 1280px) {
  .core_value-container {
    width: 90%;
    height: 90%;
  }
}

@media only screen and (max-width: 430px) {
  .core-value {
    height: 100%;
  }
  .core_value-container {
    width: 100%;
    flex-direction: column;
    gap: 80px;
    padding: 80px 20px;
  }
}

.core_value__scroll-line {
  position: absolute;
  height: 100vh;
}
@media only screen and (max-width: 430px) {
  .core_value__scroll-line {
    display: none;
  }
}

.core_value-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media only screen and (max-width: 430px) {
  .core_value-section {
    width: 100%;
    gap: 40px;
  }
}

.core_value__title {
  font-size: 18px;
  font-weight: 400;
  color: var(--yellow-color);
  text-transform: uppercase;
}

.core_value__description {
  font-size: 60px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  line-height: 78px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.core_value__reference__description {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.core_value__illustration {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 4px solid var(--yellow-color);
}

@media only screen and (min-width: 430px) and (max-width: 1280px) {
  .core_value__description {
    font-size: 42px;
    line-height: 42px;
  }
  .core_value__illustration {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .core_value__description {
    font-size: 40px;
    line-height: 52px;
  }
  .core_value__illustration {
    width: 100%;
    height: 100%;
  }
}

/* provide */
.provide-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.provide-section__content {
  margin-top: 33px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.provide-section__content__title {
  font-size: 60px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  line-height: 78px;
}

@media only screen and (max-width: 430px) {
  .provide-section {
    width: 100%;
    gap: 16px;
  }
  .provide-section__content {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .provide-section__content__title {
    font-size: 40px;
    line-height: 52px;
  }
}

.provide-section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.provide-section__wrapper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 16px;
}

.provide-section__wrapper__title {
  font-size: 80px;
  font-weight: 400;
  line-height: 104px;
  color: rgba(245, 146, 29, 0.3);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--yellow-color);
  text-transform: uppercase;
}

.provide-section__wrapper:hover .provide-section__wrapper__title {
  color: rgba(245, 146, 29, 0.8);
}

.provide-section__wrapper__image_1 {
  background-image: url("../assets/core-value/provide1.svg");
  width: 422px;
  height: 160px;
  position: relative;
  transition: height 0.3s ease;
}

.provide-section__wrapper:hover .provide-section__wrapper__image_1 {
  height: 200px;
}

.provide-section__wrapper__image_1::before {
  content: url("../assets/core-value/arrow.svg");
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  transition: bottom 0.3s;
}

.provide-section__wrapper__image_1:hover::before {
  bottom: 39%;
  transition: bottom 0.3s;
}

.provide-section__wrapper__image_2 {
  background-image: url("../assets/core-value/provide2.svg");
  width: 422px;
  height: 160px;
  position: relative;
  transition: height 0.3s ease;
}

.provide-section__wrapper:hover .provide-section__wrapper__image_2 {
  height: 200px;
}

.provide-section__wrapper__image_2::before {
  content: url("../assets/core-value/arrow.svg");
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  transition: bottom 0.3s;
}

.provide-section__wrapper__image_2:hover::before {
  bottom: 39%;
  transition: bottom 0.3s;
}

.provide-section__wrapper__description {
  border: 1px solid var(--yellow-color);
  border-radius: 16px;
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.provide-section__wrapper:hover .provide-section__wrapper__description {
  background-color: rgba(245, 146, 29, 0.2);
}

.provide-section__wrapper__description > p {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.provide-section__wrapper__description .line {
  width: 1px;
  height: 42px;
  background-color: var(--yellow-color);
}
@media only screen and (min-width: 430px) and (max-width: 1280px) {
  .provide-section {
    gap: 24px;
  }
  .provide-section__content__title {
    font-size: 42px;
    line-height: 42px;
  }
  .provide-section__wrapper-container {
    gap: 8px;
  }
  .provide-section__wrapper__title {
    font-size: 56px;
    line-height: 56px;
  }
  .provide-section__wrapper {
    gap: 8px;
  }
}

@media only screen and (max-width: 430px) {
  .provide-section__wrapper {
    width: 100%;
    margin-top: 50px;
  }
  .provide-section__wrapper-container {
    display: block;
    position: relative;
  }

  .provide-section__wrapper__title {
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    top: -60px;
    left: 0;
  }
  .provide-section__wrapper__image_1 {
    width: 100%;
  }
  .provide-section__wrapper__image_2 {
    width: 100%;
  }
  .provide-section__wrapper__description {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .provide-section__wrapper__description .line {
    width: 100%;
    height: 1px;
    background-color: var(--yellow-color);
  }
}

/* portfolio */
.portfolio-section {
  width: 100vw;
  height: 90vh;
  background-image: url("../assets/portfolio/portfolio.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.portfolio-section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.portfolio-section_scroll-line {
  display: block;
}

.portfolio-section__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--yellow-color);
  text-transform: uppercase;
}

.portfolio-section__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 78px;
  color: white;
  text-transform: uppercase;
}

.portfolio-section_border {
  display: none;
}

.portfolio-section-info-cards {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.info-card {
  padding: 72px;
  background-color: black;
}

.info-card__btn {
  width: 120px;
  height: 120px;
  transition: all 0.5s ease-in-out;
  border-radius: 16px;
}

.info-card__btn:hover {
  transform: scale(1.2);
}

.portfolio-section__panigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
@media only screen and (min-width: 430px) and (max-width: 1280px) {
  .info-card {
    padding: 50px;
  }
  .info-card__btn {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 430px) {
  .portfolio-section {
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 80px 20px;
    gap: 80px;
  }
  .portfolio-section_scroll-line {
    display: none;
  }
  .portfolio-section__header {
    width: 100%;
    align-items: start;
    gap: 16px;
  }
  .portfolio-section__title {
    font-size: 40px;
    line-height: 52px;
  }
  .portfolio-section_border {
    display: block;
  }
  .portfolio-section-info-cards {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    gap: 5px;
  }

  .info-card {
    padding: 45px;
  }
  .info-card__btn {
    width: 75px;
    height: 75px;
  }
}

/* footer */
.footer-container {
  width: 100vw;
  height: 46vh;
  background-image: url("../assets/footer/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-container__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 78px;
  color: white;
  text-transform: uppercase;
}

.main-footer-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.main-footer-contact .line {
  width: 1px;
  height: 60px;
  background-color: white;
  opacity: 0.2;
}

.main-footer-contact__item {
  width: 36%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}

.main-footer-contact__item > img {
  transition: all 0.3s ease-in-out;
}

.main-footer-contact__item > img:hover {
  scale: 1.1;
}

.main-footer-contact__item > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
@media only screen and (min-width: 430px) and (max-width: 1280px) {
  .footer_scroll-line {
    height: 35%;
  }
}

@media only screen and (max-width: 430px) {
  .footer-container {
    height: 100%;
    padding: 0px 20px;
    padding-bottom: 80px;
    gap: 24px;
  }
  .footer_scroll-line {
    height: 120px;
  }
  .footer-container__title {
    font-size: 40px;
    line-height: 52px;
  }
  .main-footer-contact__item {
    display: flex;
    flex-direction: column;
    width: 28%;
  }
}
